<h1>Update photo #<%=@photo.id%></h1>

<form action="/update_photo_record/<%=@photo.id%>" method="post">
  <label for="image_input">Image URL</label>
  <input id="image_input" type="text" name="pic_image" placeholder="Enter a URL for the image..." value="<%=@photo.image%>">

  <label for="caption_box">Caption</label>
  <textarea id="caption_box" name="pic_caption" placeholder="Enter a caption for the photo..."><%=@photo.caption%></textarea>

  <button>Update photo</button>
</form>